body{
  background-image:url("imagesForweb/grey_wash_wall/grey_wash_wall.png");
  background-repeat:repeat;
  background-attachment: fixed;
  padding-top: 75px;
  color: rgba(44, 62, 80,1.0);
  width: 100%;
}
.button a{
  border:2px solid rgba(231, 76, 60,0.6);
  background-color:rgba(44, 62, 80,1.0);
  border-radius: 10px;
  margin: 5px 10px;
  padding:5px;
  font-size: 1.2em;
  color: rgba(236, 240, 241,1.0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.button li a:link, .button li a:visited{
  border:2px solid rgba(231, 76, 60,0.6);
  background-color:rgba(44, 62, 80,1.0);
  
}

.button li a:hover, .button li a:active{
  border:2px solid #2980b9;
  background-color:rgba(44, 62, 80,1.0);
  
}

li a:link, li a:visited{
  color:rgba(236, 240, 241,1.0);
}

li a:hover, li a:active{
  color:rgba(236, 240, 241,1.0);
}

.container{
  padding: 10px 0px;
  margin-top: 0px;
}

.row{
  font-size: 1.5em;
}

.jumbotron{
  background-image: url("imagesForweb/harmoniaDark.png");
  background-position: right;
  background-size:30%;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 10px rgba(44, 62, 80,1.0);
}

h1{
  font-family: "Cinzel Decorative", serif;
}

h2, h3{
  font-family: "Cinzel", serif;
}

p, li, address{
  font-family: "Quattrocento Sans", sans-serif;
}

#sec1, #sec2, #sec3{
  background-color: rgba(236, 240, 241,0.6);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}

.leftsec{
  border-right:3px dashed rgba(44, 62, 80,1.0);
}

/*Media Queries*/
@media(min-width: 768px){
  .jumbotron{
  }
}

@media(max-width: 991px){
  .jumbotron{
    padding-right:25%;
  }

  .leftsec{
    border-bottom:dashed 4px ;
    border-right:none;
  }

  #sec1, #sec2, #sec3{
    margin: 10px;
    padding: 10px;
  }

  
}







